#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #ad3f3f; */
}

.swiper-slide {
  /* background-position: center; */
  /* background-size: cover; */
  width: 50vw;
  min-height: fit-content;
  height: 400px;
  /* margin-bottom: 50px; */
  background-color: #021f43;
  border-radius: 20px;
  overflow: hidden;
  
}

