#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: #ad3f3f; */
}

.landingpageswiper{
  /* background-position: center; */
  /* background-size: cover; */
  
  height: fit-content;
  height: 450px;
  width: 50vw;

  background-color: #021f43;
  border-radius: 20px;
  overflow: hidden;
  
}


@media (max-width: 600px) {
  .landingpageswiper{
    width: 80vw;
  }
}

.swiper-button-prev{
  margin-left: 10px;
}
.swiper-button-next{
  margin-right: 20px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  /* content: "next"; */
  font-size: 20px;
  font-weight: 900;
}
.swiper-button-next ,.swiper-button-prev{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: 2px solid rgb(0, 145, 255);
  background-color: #fff;
}