.marqutag1{
    animation-name: marqueanimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   

}

@keyframes marqueanimation {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translatex(-100vw);
    }
    
}