.marqutag1{
    animation-name: marqueanimation;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}
#mq::-webkit-scrollbar{
    display: none;
}

@keyframes marqueanimation {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translatex(-3080px);
    }
    
}